.header{
    width: 100%;
    height: 100px;
    background: #fffc64;
}

.header-body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.header-search input{
    padding: 10px 0 10px 5px;
    width: 350px;
}

.header-search button{
    padding: 10px 20px;
    background: transparent;
    margin-left: 10px;
}